/* All devices */

.place-holder{
margin: 9px;
}

#logo{
width: 300px;
height: 300px;
}

.card.col-md-3{
padding: 0px;
}

.card.col-md-9{
padding: 0px;
}

#guessList{
padding: 0px;
}

#blanks{
text-align: center;
}

#attempts{
text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
